h1{
  color: #3B71CA;
}

/*body {
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://lh3.googleusercontent.com/p/AF1QipPQOyu5qKhSYfl5goM71AGncCZLpcehLhmS-_hH=s680-w680-h510);
}*/

.form-signin{
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: 350px;
  padding: 45px;
  border-radius: 30px;
  background: hsla(0, 0%, 100%, 0.55);
  backdrop-filter: blur(5px)
}

.form-signin input{
  border: none;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
