@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color: #2A2B2A;
  background-color: #EEF1F6!important;
  font-family: var(--font-family);
}

.p-card .p-card-title{
  color:  rgb(65, 84, 132)!important;
}

.p-accordion .p-accordion-header .p-accordion-header-link{
  color: white!important;
  background-color: #3B82F6!important;
}