@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color: #2A2B2A;
  background-color: #F8F9FD!important;
}

h1,h2{
  color: #415484!important;
}

label{
  color:  #415484!important;
}

.p-card .p-card-title{
  color:   #1d64d8!important;
}

.p-card .p-card-content{
  padding: 0!important;
}

.p-datatable .p-datatable-thead > tr > th{
  color: white!important;
  background-color: #3b82f6!important;
}

.p-datatable .p-datatable-tbody > tr > td {
  border: none!important;
  border-width: none!important;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd {
  background-color: #eff5ff!important;
}

.p-panel.p-panel-toggleable .p-panel-header {
  padding: 1.25rem!important;
  background: white!important;
}

.p-panel .p-panel-header .p-panel-title{
  font-size: 1.5rem!important;
  font-weight: 700!important;
  color: #1764C6!important;
}

.hover-scale {
  transition: transform 0.3s ease-in-out;
}

.hover-scale:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.p-accordion .p-accordion-header .p-accordion-header-link{
  background-color: white!important;
}

.p-button-secondary{
  color: #1764c6!important;
  background-color: #c6ddf0!important;
  border: 1px solid #c6ddf0!important;
}

.p-button-secondary:hover{
  color: #ffffff!important;
  background-color: #2493D8!important;
  border: 1px solid #2493D8!important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background-color: #3B82F6!important;
}
